.card {
 flex: 1 1 calc(25% - 1rem);
  aspect-ratio: 1 / 1; /* keeps it square */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  @media (max-width: 768px) {
  
    flex: 1 1 100%;
  
}
}



.title {
  font-family: Outfit, sans-serif;
  font-weight: 600;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 32px;
  margin-top: var(--mantine-spacing-xs);
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  background-color: #133337;
  height: 250px;

  @media ((max-width: $mantine-breakpoint-sm)) {
    height: 350px;
    
    padding: 1rem;
  }
}